body {
  background: #ffffff;
}

.col-sm {
  background: red;
}

#top {
  height: 100px;
}

#ontop {
  height: 40px;
}

table {
  box-shadow: 1px 1px 1px grey;
  border-radius: 3px;
}

button {
  box-shadow: 1px 1px 1px grey;
}
